<footer class="footer text-center p-3">

  <div class="social-links mb-2">
    <a href="https://github.com/Shreeganesha-K-V">GitHub</a> |
    <a href="https://linkedin.com/in/shreeganesha-k-v">LinkedIn</a> |
    <a href="https://leetcode.com/u/Shreeganesha_K_V/">LeetCode</a>
  </div>

  <div class="mb-2">
    <a routerLink="/about">About</a> |
    <a routerLink="/contact">Contact</a>
  </div>

  <p class="mb-0">
    © {{currentYear}} Shreeganesha K V
  </p>
  <button (click)="scrollToTop()">↑ Top</button>
</footer>